input[type=text].clearable {
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  padding-right: 18px;
  transition: background 0.4s;
}

input[type=text].clearable-x {
  background-position: right 5px center;
}

input[type=text].clearable-on-x:hover {
  cursor: pointer;
}